body,
header,
footer {
  font-weight: lighter;
  font-family: "Source Sans Pro", Helvetica, sans-serif
}

.headerbutton {
  background: white;
  border-style: solid;
  border-color: #ff5722;
  color: #ff5722;
  width: 70px;
  font-size: 15px;
  height: 30px;
  font-weight: 700;
  border-width: thin;
}

.headerbutton:hover {
  background: #ff5722;
  color: white;
}

.navbar-mobile-button , .normal-button {
  background: #ff5722;
  color: white;
  border-style: solid;
  border-color: #ff5722;
  min-width: 70px;
  width: auto;
  font-size: 15px;
  font-weight: 700;
  border-width: thin;
  height: 35px;
}

.normal-button-red{
  color: #f94343 !important; 
  border-color: #f94343 !important; 
}

.normal-button-green{
  background: #42f498;
  border-color: #42f498;
}

.heroButton {
  border-style: hidden;
  background: #ff5722;
  color: white;
  font-size: xx-large;
  height: 55px;
  width: 150px;
  margin-top: 50px
}
button{
  outline-color: white;
}
.avatar-button{
  height: 40px;
  width: 40px;
  border-style: solid;
  border-radius: 50%;
  border:#fff;
  background-color: #fff
}
.tocstack-button{
  border-style: hidden;
  background: #ff5722;
  color: white;
  font-size: 30px
}

select{
  width: -webkit-fill-available;
  background-color: white;
  height: 40px;
  outline: none;
  border: none;
}
option{
  font-weight: 300;
  font-size: 15px
}

option:after{
  background-color: #ff5722 !important
}

.applist:hover{
  background: #f1f1f1
}
.search-box{
  width: -webkit-fill-available;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    border-color: #d8d7d7;
}
.border-box{
  padding : 20px;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  border-color: #d8d7d7;
}
.nav-bar-div:hover{
  border-style: solid;
  border-left: #ffffff;
  border-right: white;
  border-top: white;
  border-width: 2px;
  border-bottom-color: #f9bf81
}

.nav-bar-div-active{
  border-style: solid;
  border-left: #ffffff;
  border-right: white;
  border-top: white;
  border-width: 2px;
  border-bottom-color: #ff5722;
  color:#ff5722;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857;
  border: 1px solid #EEF1F6;
  color: #596981;
  border-radius: 4px;
  white-space: pre-wrap;
  word-wrap: normal;
  word-break: normal;
}


span{
  color: #ff5722;  
}

a:hover{
  color: #ff5722;    
}
p {
  text-align: center;
  line-height: 1.5em;
  color: #666;
  font-size: 1.5em;
  font-weight: 200
}

h4 {
  color: #666;
  font-weight: 300
}

h2 {
  color: #666;
  font-weight: 300
}

h6 {
  color: #666;
}

h3 {
  color: #666;
  font-weight: 300
}

h1 {
  line-height: 1.2em;
  color: #666;
}
h5 {
  color: #666;
}
.hamburger-icon{
  border-style: solid;
  background: #ffff;
  border: #fff;
}

.input-box{
  height: 35px;
  border-radius: 5px;
  border-style: solid;
  border-color: #d8d7d7;
  padding: 17px;
  outline: none;
  margin-bottom : 2px;
  font-weight: 500
}
.input-box::-webkit-input-placeholder{
  font-weight: 100
}
.hamburger-list{
  width:150px;
  height: max-content;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: thin;
  border-color: #ff5722;
  margin-top: 35px;
  background: white;
  justify-content: center;
  margin-right: 5px;
  padding-bottom: 5px;
  z-index:9999;
}

.border-button{
  border-radius: 4px;
  border-style: solid;
  border-width: thin;
  border-color: #ff5722;
  color: #ff5722;
  font-weight: 400;
  background: white; 
  margin: 2px;
  width: 70px;
  font-size: 15px;
  font-weight: 700;
  height: 35px;
}

.border-button:disabled{
  border-color: #d8d7d7;
  color: grey;
  background: d8d7d7; 
}

.hero h1 {
  line-height: 1.2em;
  margin-bottom: 0;
}
.nav-list {
  display:block;
}
.nav-mobile {
  display:none;
}

.image-box{
  border: #d8d7d7;
    border-style: solid;
    border-width: thin;
}

.deploy-active{
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  border-color: #d8d7d7;
  /* padding-left: 5px;
  padding-right: 5px; */
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff5722;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff5722;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.log-body{
  clear: left;
  min-height: 42px;
  padding: 15px 0;
  color: #f1f1f1;
  font-family: Cousine,monospace;
  font-size: 12px;
  line-height: 19px;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #222;
  counter-reset: line-numbering;
  margin-top: 0;
}

 .log-line {
  position: relative;
  padding: 0 5px 0 20px;
  margin: 0;
  min-height: 19px;
}



@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nav-list {
    display:none;
  }
  .nav-mobile {
    display:block;
  }
}