body,
header,
footer {
  font-weight: lighter;
  font-family: "Source Sans Pro", Helvetica, sans-serif
}

.headerbutton {
  background: white;
  border-style: solid;
  border-color: #ff5722;
  color: #ff5722;
  width: 70px;
  font-size: 15px;
  height: 30px;
  font-weight: 700;
  border-width: thin;
}

.headerbutton:hover {
  background: #ff5722;
  color: white;
}

.navbar-mobile-button {
  background: #ff5722;
  color: white;
  border-style: solid;
  border-color: #ff5722;
  width: 70px;
  font-size: 15px;
  height: 30px;
  font-weight: 700;
  border-width: thin;
}

.heroButton {
  border-style: hidden;
  background: #ff5722;
  color: white;
  font-size: xx-large;
  height: 55px;
  width: 150px;
  margin-top: 50px
}
span{
  color: #ff5722;  
}
p {
  text-align: center;
  line-height: 1.5em;
  color: #666;
  font-size: 1.5em;
  font-weight: 200
}

h4 {
  color: #666;
  font-weight: 300
}

h6 {
  color: #666;
}

h3 {
  color: #666;
  font-weight: 300
}

h1 {
  line-height: 1.2em;
  color: #666;
}
.hamburger-icon{
  border-style: solid;
  background: #ffff;
  border: #fff;
}

.hamburger-list{
  width: 100px;
  height: max-content;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: thin;
  border-color: #ff5722;
  margin-top: 35px;
  background: white;
  justify-content: center;
  margin-right: 5px;
  padding-bottom: 5px
  
}

.hero h1 {
  line-height: 1.2em;
  margin-bottom: 0;
}
.nav-list {
  display:block;
}
.nav-mobile {
  display:none;
}

.image-box{
  border: #d8d7d7;
    border-style: solid;
    border-width: thin;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nav-list {
    display:none;
  }
  .nav-mobile {
    display:block;
  }
}